In [ ]:
def fib(n):
    a, b = 0,1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()
fib(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [ ]:
x = range(10)
>>> x
range(0, 10)
>>> list(x)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
>>> range(7)
range(0, 7)
>>> list(range(7))
[0, 1, 2, 3, 4, 5, 6]

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
num=10
for i in range(1,num+1):
     print("     ",num-i)
print("BOOOOMMMM BOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM xd")
#un poco de humor

      9
      8
      7
      6
      5
      4
      3
      2
      1
      0
BOOOOMMMM BOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM xd

In [ ]:
x = list
list = ["peras", "manzanas", "naranjas", "bananas"]
    >>> list[-1] = "manzanas"
['peras', 'manzanas', 'naranjas', 'bananas']
    print( list )

IndentationError: ignored